<div class="container">
 <div class="row">
  <div class="col"></div>
  <div class="col">
   <div class="col-md-10 col-md-offset-1">
    <div class="mt-3 mb-3">
     <p class="text-center">
      このサイトは公共の喫煙所を</br>
      投稿し合うSNSサイトです。
     </p>
     <p class="text-center">
      喫煙者同士という共通点をもとに</br>
      利用者同士を繋げるサービスで、</br>
     </p>
     <p class="text-center">
      喫煙所を通じた交流の場としても</br>
      活用できます。
     </p>
    </div>
   </div>
  </div>
  <div class="col"></div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col"></div>
  <div class="col">
   <div class="card">
    <div class="card-body">
     <div class="mx-auto" style="width: 200px;">
      <div class="mt-3 mb-3">
       <%= link_to "新規登録", new_user_registration_path %>
      </div>
      <div class="mt-3 mb-3">
       <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
      </div>
      <div class="mt-3 mb-3">
       <%= link_to "ログイン", new_user_session_path %>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col"></div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col"></div>
  <div class="col">
   <div class="col-md-10 col-md-offset-1">
    <p class="text-center">マナーを守って喫煙しましょう。</p>
   </div>
  </div>
  <div class="col"></div>
 </div>
</div>
