<div class="container">
 <div class="row">
  <div class="col-md-10 col-md-offset-1">
   <div class="mt-3 mb-3">
   <p class="text-center">このサイトは公共の喫煙所を投稿し合うSNSサイトです。</p>
   <p class="text-center">喫煙者同士という共通点をもとに、利用者同士を繋げるサービスであり、</p>
   <p class="text-center">喫煙所を通じた交流の場としても活用できます。</p>
   </div>
  </div>
 </div>
</div>

<div class="mx-auto" style="width: 200px;">
 <div class="mt-3 mb-3">
  <%= link_to "新規登録", new_user_registration_path %>
 </div>
 <div class="mt-3 mb-3">
  <%= link_to "ゲスト" %>
 </div>
 <div class="mt-3 mb-3">
  <%= link_to "ログイン", new_user_session_path %>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-md-10 col-md-offset-1">
   <p class="text-center">マナーを守って喫煙しましょう。</p>
  </div>
 </div>
</div>
