<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <% @post.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div>
 <%= link_to "新着・投稿一覧へ戻る", posts_path %>
</div>